<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">
    <div v-for="(message, index) in messages" v-bind:id="message.uid">
        <h5 v-bind:style="getMessageStyle(message)">
            <span v-if="index == focused">|</span><span v-else>&nbsp;</span>
            {{ getSenderName(message) }}: {{ message.subject.replace(/\n/g, '') }}
        </h5>
        <div v-if="index == focused & open & html" v-html="message.body.html[0]"></div>
        <pre v-else-if="index == focused & open">{{ message.body.plain[0] }}</pre>
    </div>
</div>

<!-- TODO: archive message -->
<!-- TODO: re-connect -->
<!-- TODO: multiuser -->
<!-- TODO: incapsulate html styles -->
<!-- TODO: sanitize images and links of spam messages -->
<!-- TODO: custom tags maybe -->
<!-- TODO: scroll message into view -->

<script>
const app = new Vue({
    el: '#app',
    data: {
        focused: null,
        open: false,
        tag: null,
        html: true,
        api: 'http://0.0.0.0:8000/api',
        messages: []
    },
    created: function() {
        let app = this
        let shift = false
        const keyMap = {
            74: app.focusNext,
            75: app.focusPrevious,
            13: app.toggleOpen,
            27: app.close,
            79: app.openTag,
            73: {  // `i` keypress
                73: () => console.log('puk'),
                83: app.toggleSeen  // `s` keypress
            },
            71: function(keypress) {
                if (keypress.shiftKey) {  // `G` go to bottom
                    app.focused = app.messages.length - 1
                } else {  // else map for next keypress
                    return {
                        71: function () {
                            app.focused = 0
                        }
                    }
                }
            },
            // [ 219
            // ] 221
            // y 89 app.messages.splice(index, 1)
            90: {  // `z`
                72: app.toggleHtml  // `h`
            }
        }
        let map = keyMap
        window.focus()
        window.addEventListener('keydown', function(event) {
            console.log(event.keyCode, event.shiftKey)
            let code = event.keyCode
            if (code in map) {
                if (typeof map[code] === 'object') {
                    map = map[code]
                } else {
                    // execute and reset map
                    map = map[code](event)  // could return a new map
                    if (map == null) {
                        map = keyMap
                    }
                }
            } else {
                map = keyMap  // reset
            }
        })
        this.tag = window.location.pathname.split('/')[1] || 'inbox'
    },
    watch: {
        tag: function(_new, old) {
            if (old == null) {
                window.history.replaceState(null, null, this.tag)
            } else {
                window.history.pushState(null, null, this.tag)
            }
            document.title = this.tag
            fetch(`${this.api}/${this.tag}/`)
              .then((response) => response.json())
              .then(function(messages) {
                  app.messages = messages
              })
        },
        open: function() {
            if (this.open & this.messages[this.focused].body.html[0] == null) {
                this.fetchMessage(this.focused)
            }
        },
        focused: function() {
            if (this.open & this.messages[this.focused].body.html[0] == null) {
                this.fetchMessage(this.focused)
            }
        }
    },
    methods: {
        getSenderName: function(message) {
            let sender = message.sent_from[0]
            return sender.name ? sender.name : sender.email
        },
        getMessageStyle: function(message) {
            return {
                fontWeight: message.flags.includes('\\Seen') ? 'normal' : 'bold'
            }
        },
        toggleOpen: function() {
            this.open = !this.open
        },
        toggleHtml: function() {
            this.html = !this.html
        },
        close: function() {
            this.open = false
        },
        focusNext: function() {
            if (this.focused == null) {
                this.focused = 0
            } else if (this.focused < this.messages.length - 1) {
                this.focused += 1
            }
            Vue.nextTick(this.scroll)
        },
        focusPrevious: function() {
            if (this.focused == null) {
                this.focused = 0
            } else if (this.focused != 0) {
                this.focused -= 1
            }
            Vue.nextTick(this.scroll)
        },
        scroll: function() {
            let message = this.messages[this.focused]
            let elem = document.getElementById(message.uid)
            let elemBottom = elem.offsetTop + elem.offsetHeight
            let windowBottom = document.scrollingElement.scrollTop + window.innerHeight
            if (elemBottom > windowBottom) {
                window.scrollTo(0, elem.offsetTop - 60)
            }
            if (elem.offsetTop < document.scrollingElement.scrollTop) {
                window.scrollTo(0, elem.offsetTop - 60)
            }
        },
        openTag: function() {
            this.tag = prompt()
        },
        fetchMessage: function(index) {
            let message = this.messages[index]
            message.body.html[0] = 'Loading'
            fetch(`${this.api}/${this.tag}/${message.uid}`)
              .then((response) => response.json())
              .then(function(data) {
                  message.body.html = data.body.html
                  message.body.plain = data.body.plain
              })
        },
        toggleSeen: function() {
            let message = this.messages[app.focused]
            let method = message.flags.includes('\\Seen') ? 'DELETE' : 'POST'
            fetch(`${this.api}/${this.tag}/${message.uid}/flags/seen/`, { method: method })
              .then((response) => response.json())
              .then(function(flags) {
                  message.flags = flags
              })
        }
    }
})
</script>
