<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
    iframe {
        border: 0;
        width: 100%;
    }
</style>
<div id="app">
    <pre v-if="error">{{ error }}</pre>
    <div v-for="(message, index) in messages" v-bind:id="message.uid" :key="message.uid">
        <h5 v-bind:style="getMessageStyle(message)">
            <span v-if="index == focused">|</span><span v-else>&nbsp;</span>
            {{ getSenderName(message) }}: {{ message.subject.replace(/\n/g, '') }}
        </h5>
        <iframe key="html-frame" v-if="index == focused & open & html" v-bind:src="getMessageHtmlUrl(message.uid)" onload="resizeFrame(this)"></iframe>
        <iframe key="text-frame" v-else-if="index == focused & open" v-bind:src="getMessageTextUrl(message.uid)" onload="resizeFrame(this)"></iframe>
    </div>
</div>

<!-- TODO: sanitize images and links of spam messages -->
<!-- TODO: custom tags maybe -->
<!-- TODO: error indication, maybe? -->

<script>

window.resizeFrame = function(frame) {
    frame.style.height = frame.contentDocument.body.scrollHeight +'px';
    let elem = frame
    let elemBottom = elem.offsetTop + elem.offsetHeight
    let windowBottom = document.scrollingElement.scrollTop + window.innerHeight
    if (elemBottom > windowBottom) {
        window.scrollTo(0, elem.offsetTop - 60)
    }
    if (elem.offsetTop < document.scrollingElement.scrollTop) {
        window.scrollTo(0, elem.offsetTop - 60)
    }
}

const app = new Vue({
    el: '#app',
    data: {
        focused: null,
        open: false,
        tag: null,
        username: null,
        html: true,
        api: 'http://zorro:8000/api',
        messages: [],
        error: null
    },
    created: function() {
        let app = this
        let shift = false
        const keyMap = {
            74: app.focusNext,
            75: app.focusPrevious,
            13: app.toggleOpen,
            27: app.close,
            79: app.openTag,
            73: {  // `i` keypress
                73: () => console.log('puk'),
                83: app.toggleSeen  // `s` keypress
            },
            71: function(keypress) {
                if (keypress.shiftKey) {  // `G` go to bottom
                    app.focused = app.messages.length - 1
                } else {  // else map for next keypress
                    return {
                        71: function () {
                            app.focused = 0
                        }
                    }
                }
            },
            82: app.reconnect, // `r`
            89: app.archiveAndClose,  // `y`
            219: app.archiveAndNext,  // '['
            221: app.archiveAndPrev,  // ']'
            90: {  // `z`
                72: app.toggleHtml  // `h`
            }
        }
        let map = keyMap
        window.focus()
        window.addEventListener('keydown', function(event) {
            // console.log(event.keyCode, event.shiftKey)
            let code = event.keyCode
            if (code in map) {
                if (typeof map[code] === 'object') {
                    map = map[code]
                } else {
                    // execute and reset map
                    map = map[code](event)  // could return a new map
                    if (map == null) {
                        map = keyMap
                    }
                }
            } else {
                map = keyMap  // reset
            }
        })
        let path = window.location.pathname.split('/')
        this.username = path[1]
        this.tag = path[2] || 'inbox'
    },
    watch: {
        tag: function(_new, old) {
            let app = this
            if (old == null) {
                window.history.replaceState(null, null, this.tag)
            } else {
                window.history.pushState(null, null, this.tag)
            }
            document.title = this.tag
            this.fetchMessages()
        }
    },
    methods: {
        getSenderName: function(message) {
            let sender = message.sent_from[0]
            return sender.name ? sender.name : sender.email
        },
        getMessageStyle: function(message) {
            return {
                fontWeight: message.flags.includes('\\Seen') ? 'normal' : 'bold'
            }
        },
        getMessageHtmlUrl: function(uid) {
            return `${this.api}/${this.username}/${this.tag}/${uid}.html`
        },
        getMessageTextUrl: function(uid) {
            return `${this.api}/${this.username}/${this.tag}/${uid}.txt`
        },
        toggleOpen: function() {
            this.open = !this.open
            this.$nextTick(this.scroll)
        },
        toggleHtml: function() {
            this.html = !this.html
        },
        close: function() {
            this.open = false
        },
        focusNext: function() {
            if (this.focused == null) {
                this.focused = 0
            } else if (this.focused < this.messages.length - 1) {
                this.focused += 1
            }
            this.$nextTick(this.scroll)
        },
        focusPrevious: function() {
            if (this.focused == null) {
                this.focused = 0
            } else if (this.focused != 0) {
                this.focused -= 1
            }
            this.$nextTick(this.scroll)
        },
        scroll: function() {
            let message = this.messages[this.focused]
            let elem = document.getElementById(message.uid)
            let elemBottom = elem.offsetTop + elem.offsetHeight
            let windowBottom = document.scrollingElement.scrollTop + window.innerHeight
            if (elemBottom > windowBottom) {
                window.scrollTo(0, elem.offsetTop - 60)
            }
            if (elem.offsetTop < document.scrollingElement.scrollTop) {
                window.scrollTo(0, elem.offsetTop - 60)
            }
        },
        archive: function(uid) {
            return fetch(`${this.api}/${this.username}/${this.tag}/${uid}/flags/delete`, { method: 'POST' })
        },
        archiveAndClose: function() {
            let app = this
            let message = this.messages[this.focused]
            this.archive(message.uid)
                .then(function() {
                    app.close()
                    app.messages.splice(app.focused, 1)
                })
        },
        archiveAndNext: function() {
            let app = this
            let message = this.messages[this.focused]
            this.archive(message.uid)
                .then(function() {
                    app.toggleOpen()
                    app.$nextTick(app.toggleOpen)
                    app.messages.splice(app.focused, 1)
                })
        },
        archiveAndPrev: function() {
            let app = this
            let message = this.messages[this.focused]
            this.archive(message.uid)
                .then(function() {
                    app.messages.splice(app.focused, 1)
                    app.focused = app.focused - 1
                })
        },
        openTag: function() {
            this.tag = prompt()
        },
        fetchMessage: function(index) {
            let message = this.messages[index]
            fetch(`${this.api}/${this.username}/${this.tag}/${message.uid}`)
              .then((response) => response.json())
              .then(function(data) {
                  message.body.html = data.body.html
                  message.body.plain = data.body.plain
              })
        },
        toggleSeen: function() {
            let message = this.messages[this.focused]
            let method = message.flags.includes('\\Seen') ? 'DELETE' : 'POST'
            fetch(`${this.api}/${this.username}/${this.tag}/${message.uid}/flags/seen`, { method: method })
              .then((response) => response.json())
              .then(function(flags) {
                  message.flags = flags
              })
        },
        reconnect: function() {
            this.login().then(this.fetchMessages)
        },
        login: function() {
            let password = prompt()
            return fetch(`${app.api}/${app.username}`, {
                method: 'POST',
                body: JSON.stringify({password: password})
            })
        },
        fetchMessages: function() {
            let app = this
            app.error = null
            fetch(`${this.api}/${this.username}/${this.tag}`)
              .then(function(response) {
                  if (!response.ok) {
                      throw Error(response.status)
                  }
                  return response
              })
              .then(function(response) {
                  response.json()
                      .then(function(messages) {
                          app.messages = messages
                      })
              }).catch(function(status, _) {
                  if (status.toString().indexOf('401') > -1) {
                      app.login().then(app.fetchMessages)
                  } else {
                      app.error = status
                  }
              })
        }
    }
})
</script>
